@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


.main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    height: 10vh;
}

.logo {
    flex-grow: 65;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.menu-items {
    flex-grow: 35;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding-top: 1em;
}

.menu-item {
    margin-right: 2em;
    white-space: nowrap;
    font-weight: bold;
}

.menu-item:hover {
    color: rgb(247, 81, 4);
}

.logo-picture {
    width: 13em;
}

.picture-container {
    display: flex;
    height: 80vh;
    width: 100%;
}

.picture {
    height: 100%;
    width: 100%;
}

.cover {
    position: absolute;
    height: inherit;
    width: 100%;
    opacity: 0.7;
    background-image: linear-gradient(to right, rgb(255, 81, 0), yellow);
}

.picture-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    height: inherit;
    width: 100%;
    font-weight: bold;
}

.picture-content h1 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8em;
}

.picture-content h2 {
    font-size: 3em;
}

.picture-content button {
    padding: 12px 25px;
    border-radius: 32px;
    background-color: black;
    font-size: 2em;
    color: white;
}

.picture-animation {
    position: absolute;
    height: inherit;
    width: 100%;
    -webkit-animation: left-to-right 1.5s linear forwards;
}

@-webkit-keyframes left-to-right {
    from {
        left: -100%
    }

    to {
        left: 0
    }
}

div.picture-content button:hover {
    color: rgb(247, 81, 4);
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.about-us p {
    text-align: center;
}

.about-us hr {
    margin: auto;
    margin-bottom: 20px;
    width: 140px;
    background-image: linear-gradient(to right, rgb(255, 81, 0), yellow);
    border: orange;
}

.about-us-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-us-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 30vh;
    height: 30vh;
}

.about-us .icon {
    width: 13vh;
    height: 13vh;
    background-size:50%;
    background-position: center;
    background-repeat: no-repeat;  
    border: solid rgb(78, 76, 76);
    border-radius: 50%;
    overflow:auto;
display:inline-block;
}

.about-us .icon:hover {
    background-color: orange;
    border-color: orange;
}

.about-us .developer-icon {
    background-image: url("../slike/developer.svg");
}

.about-us .branding-icon {
    background-image: url("../slike/branding.svg");
}

.about-us .marketing-icon {
    background-image: url("../slike/digital-marketing.svg");
}

.about-us .developer-icon:hover {
    background-image: url("../slike/developer-hover.svg");
}

.about-us .branding-icon:hover {
    background-image: url("../slike/branding-hover.svg");
}

.about-us .marketing-icon:hover {
    background-image: url("../slike/digital-marketing-hover.svg");
}


